body {
    background-color: #333333;
    margin: 0px;
}

* {
    color: white;
}

a {
    text-decoration: none;
}

.nav-bar {
    font-family: Roboto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d4d4d;
}

.logo {
    font-size: 35px;
    margin: 15px 40px;
}

.link-bar {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.link {
    padding: 10px;
    font-size: 16px;
    margin: 0px 20px;
}

.link:hover {
    color: black;
    transition: 0.2s;
}

.button {
    background-color: black;
    color: white;
    padding: 10px 32px;
    border-radius: 7px;
    border: 1px solid #262626;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 5px #1a1a1a;
    transition: 0.2s;
}


.container {
    padding: 75px;
    width: 65vw;
    margin: 0px auto;
}

.container * {
    font-family: Roboto Slab;
}

.title {
    font-family: Roboto;
    font-size: 100px;
    margin-bottom: 50px;
}

.header {
    font-size: 50px;
}

.subtext {
    font-size: 35px;
    font-family: Cambria Math;
}

.submit {
    border: none;
    font-size: 16px;
}
