body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    font-family: 'Nunito';
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 60px #dfdbdb;
}

.logo {
    font-size: 35px;
    margin: 15px 40px;
}

.link-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

.link {
    padding: 10px;
    font-size: 16px;
    margin: 0px 25px;
}

.button {
    background-color: black;
    color: white !important;
    padding: 7px 25px;
    border-radius: 50px;
    border: 1px solid #262626;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 5px #1a1a1a;
    transition: 0.2s;
}

.grey-button {
    background-color: grey;
    cursor: auto;
    border: none;
}

.grey-button:hover {
    box-shadow: none;
}

.container {
    padding: 75px;
    width: 65vw;
    margin: 0px auto;
}

.container * {
    font-family: 'Nunito';
}

.title {
    font-size: 5em;
    margin-bottom: 50px;
}

.header {
    font-size: 50px;
}

.subtext {
    font-size: 2em;
}

.submit {
    font-size: 14px;
    border-radius: 15px;
    padding: 7px 20px;
    color: white !important;
}

.topspace {
    margin-top: 25px !important;
}

.block {
    margin: 0px auto;
    padding: 10px 50px 75px 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 30px #dfdfdf;
}

.form input {
    width: 100%;
    color: black;
    font-family: 'Nunito';
    font-size: 14px;
    margin: 0px auto;
    box-sizing: border-box;
}

.form input:focus {
    outline: none;
}

.expanding-form {
    margin: 0px;
    width: auto;
}

.user-form {
    width: 300px !important;
}
